#leftSide {
  background-color: rgb(0, 112, 205);
  color: white;
  height: 47.1rem;
  text-align: center;
  line-height: 2em;
}
#txt {
  width: auto;
}
#btn{
  background-color: white;
  color: rgb(0, 112, 205);
  border-radius: 2em;
  margin: 0em auto;
}
