
<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-4 py-5" id="leftSide">
      <img src="../../../assets/logo.png" alt="" width="200" height="200">
      <h1 class="fs-2 my-3 fw-bolder">Welcome Friend</h1>
      <p class="fst-italic my-2" id="txt">
        To keep connected with us, please login with
        your personal info.
      </p>
      <button mat-stroked-button
      class="my-4" id="btn" (click)="goToLogin()">SIGN IN</button>
    </div>
    <div class="col-8">
      <app-signup></app-signup>
    </div>
  </div>
</div>
