<div class="container-fluid m-0 py-5" id="profileContainer">
  <mat-card class="mx-5">
    <app-header [userName]="userData.Name"></app-header>
    <mat-divider></mat-divider>
    <div class="row mx-4 my-3 justify-content-between" id="profile">
      <div class="col-2">
        <div class="d-flex flex-column">
          <img [src]="userData.Image" alt="user img"
          width="200" height="200" style="border-radius: 50%;">
          <div class="my-2 content">
            <h2>About Doctor</h2>
            <p><span>Title: </span> {{userData.Title}}</p>
            <p><span>Department: </span> {{userData.dpt}}</p>
            <p><span>Specialization: </span>
            {{userData.Department}}</p>
          </div>
          <div class="my-2 content">
            <h2>About Clinic</h2>
            <p><span>City: </span> {{userData.city}}</p>
            <p><span>Area: </span> {{userData.area}}</p>
            <p><span>Fees: </span> {{userData.Price}}</p>
          </div>
        </div>
      </div>
      <div class="col-9">
        <h1>{{userData.Name}}</h1>
        <h5>{{userData.Title}}</h5>
        <div class="tabs">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">person</mat-icon>
                Basic Info
              </ng-template>
              <div class="row mx-2">
                <small>Contact Info</small>
              </div>
              <div class="row ulContainer" id="ulContainer">
                <div class="col-1 my-2">
                  <ul>
                    <li>Name</li>
                    <li>Email</li>
                    <li>Phone</li>
                    <li>Status</li>
                  </ul>
                </div>
                <div class="col-5 my-2">
                  <ul>
                    <li>{{userData.Name}}</li>
                    <li>{{userData.email}}</li>
                    <li>{{userData.phone}}</li>
                    <li>{{userData.status}}</li>
                  </ul>
                </div>
              </div>
              <div class="row mx-2">
                <small class="mb-n2"> Drived Info </small>
              </div>
              <div class="row ulContainer">
                <div class="col-1 my-2">
                  <ul>
                    <li>ID</li>
                    <li>Birthday</li>
                  </ul>
                </div>
                <div class="col-5 my-2">
                  <ul>
                    <li>{{userData.nationalID}}</li>
                    <li>{{userData.nationalID | birthday}}</li>
                  </ul>
                </div>
              </div>

              <div class="row mx-2">
                <small>Other Info</small>
              </div>
              <div class="row ulContainer" id="ulContainer">
                <div class="col-1 my-2">
                  <ul>
                    <li>Information</li>
                    <li>Address</li>
                  </ul>
                </div>
                <div class="col-5 my-2">
                  <ul>
                    <li>{{userData.Information}}</li>
                    <li>{{userData.address}}</li>
                  </ul>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">edit</mat-icon>
                Edit Profile
              </ng-template>
              <div class="row mx-2">
                  <div class="col-10 my-5" id="card">
                    <h1 class="fs-2 my-3 fw-bolder">Edit Profile</h1>
                    <small>
                      Unfortunately, you are restricted to
                      edit a limited entries in order to modify more entries, You can contact the admin.
                    </small>
                    <form [formGroup]="userProfile" class="inputs d-flex flex-column py-3"
                    (ngSubmit)="EditProfile()">
                      <div class="row">
                        <mat-form-field appearance="legacy" class="col-6">
                          <mat-label>Enter Information in English</mat-label>
                          <input matInput formControlName="Information" name="Information" #BIO>
                          <button mat-icon-button matSuffix >
                            <mat-icon>info</mat-icon>
                          </button>
                          <mat-error *ngIf="hasErr('Information', 'minlength')">
                            you must enter 5 characters at least
                          </mat-error>
                          <mat-error *ngIf="hasErr('Information', 'pattern')">
                            you must type here in English only
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="col-6">
                          <mat-label>Enter Information in Arabic</mat-label>
                          <input matInput formControlName="InformationInArabic"
                          name="InformationInArabic" #BIOAR>
                          <button mat-icon-button matSuffix >
                            <mat-icon>info</mat-icon>
                          </button>
                          <mat-error *ngIf="hasErr('InformationInArabic', 'minlength')">
                            you must enter 5 characters at least
                          </mat-error>
                          <mat-error *ngIf="hasErr('InformationInArabic', 'pattern')">
                            you must type here in Arabic only
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="row">
                        <mat-form-field appearance="legacy" class="col-6">
                          <mat-label>Enter Address in English</mat-label>
                          <input matInput name="address" #address
                          formControlName="address">
                          <button mat-icon-button matSuffix >
                            <mat-icon>room</mat-icon>
                          </button>
                          <mat-error *ngIf="hasErr('address', 'pattern')">
                            You must enter valid address(1 maddi, cairo)
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="col-6">
                          <mat-label>Enter Address in Arabic</mat-label>
                          <input matInput name="addressAR" #addressAR
                          formControlName="addressAR">
                          <button mat-icon-button matSuffix >
                            <mat-icon>room</mat-icon>
                          </button>
                          <mat-error *ngIf="hasErr('addressAR', 'pattern')">
                            You must enter valid address like (1 maddi, cairo)
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="row py-3">
                        <label for="pic" class="col-2">Image </label>
                        <input id="pic" class="form-control col-7 w-50"
                        formControlName="Image" name="Image"
                        type="file" (change)="preview($event)">
                        <small class="text-danger" *ngIf="hasErr('Image', 'required')">
                          this field is required now
                        </small>
                      </div>
                      <!-- <mat-form-field appearance="legacy">
                        <mat-label>Enter Image</mat-label>
                        <input matInput name="Image" #img url
                        formControlName="Image">
                        <button mat-icon-button matSuffix >
                          <mat-icon>photo_camera</mat-icon>
                        </button>
                        <mat-error>
                          This field is required
                        </mat-error>
                      </mat-form-field> -->
                      <!-- <div class="row py-3">
                        <div class="col-6">
                          <mat-label>Gender</mat-label>
                          <mat-radio-group class="mx-5 my-2"
                            formArrayName="gender">
                              <mat-radio-button value="male" class="mx-3"
                              [checked]="Gender == 'male'">Male
                              </mat-radio-button>
                              <mat-radio-button value="female"
                              [checked]="Gender == 'female'">Female</mat-radio-button>
                          </mat-radio-group>
                        </div> -->
                      <!-- </div> -->
                      <button mat-stroked-button [disabled]="userProfile.invalid"
                      type="submit" class="w-25" id="btn">Edit</button>
                    </form>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">add</mat-icon>
                clinic hours
              </ng-template>

              <form (ngSubmit)="updateTimetable()" [formGroup]="timeTable">
                <div class="container">
                  <div class="row my-3">
                    <div class="col-4">
                      <h1>
                        Day/Date
                      </h1>
                    </div>
                    <div class="col-8">
                      <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="day"
                        name="day" [min] ="currentDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="hasErr2('day', 'required')">
                          this field is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row my-3">
                    <h2>Working hours</h2>
                    <div class="col-4">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>From</mat-label>
                        <input type="time" matInput formControlName="from" name="from">
                        <mat-error *ngIf="hasErr2('from', 'required')">
                          this field is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>To</mat-label>
                        <input type="time" matInput formControlName="to"
                        name="to">
                        <mat-error *ngIf="hasErr2('to', 'required')">
                          this field is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row my-3">
                    <button mat-stroked-button
                      type="submit" class="w-25 mx-5" id="btn"
                      [disabled]="timeTable.invalid">Save</button>
                  </div>
                </div>
              </form>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">event</mat-icon>
                Timetable
              </ng-template>
              <h2 class="text-center my-2">My timetables</h2>
              <div class="row">
                  <mat-card *ngFor="let time of bookedTime" id="card" class=" col-3 m-3">
                    <p> <span>Day: </span> {{time.day}} </p>
                    <p> <span>Date: </span> {{time.date}} </p>
                    <p> <span>hour: </span> {{time.hour}} </p>
                    <p > <span>patient: </span> {{time.status}} </p>
                    <!-- <button mat-stroked-button
                      type="button" class="w-25 mx-5" id="btn">Delete</button> -->
                  </mat-card>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">event</mat-icon>
                Free times
              </ng-template>
              <h2 class="text-center my-2">My Free Times</h2>
              <div class="row">
                  <mat-card *ngFor="let time of freeTime" id="card" class=" col-3 m-3">
                    <p> <span>Day: </span> {{time.day}} </p>
                    <p> <span>Date: </span> {{time.date}} </p>
                    <p> <span>hour: </span> {{time.hour}} </p>
                    <button mat-stroked-button
                      type="button" class="w-25 mx-5" id="btn"
                      (click)="Cancel(time)">Cancel</button>
                  </mat-card>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </mat-card>
</div>
